*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}
#loading {
  position: absolute;
  background-color: #FFF;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3000px;
  z-index: 9999;
}
#loading_bg{
  background-color: rgba(0,0,0,0.7);
}
body {
  background: #eaecfa;
}
.loader1 {
    width: 64px;
    height: 64px;
    position: relative;
    top: 50%;
    left: 50%;
    background: #FFF;
    border-radius: 4px;
    overflow: hidden;

  }
  
  .loader1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: rotate(45deg) translate(30%, 40%);
    background: #ff9371;
    box-shadow: 32px -34px 0 5px #ff3d00;
    animation: slide 2s infinite ease-in-out alternate;
  }
  
  .loader1:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ff3d00;
    transform: rotate(0deg);
    transform-origin: 35px 145px;
    animation: rotate 2s infinite ease-in-out;
  }
  
  @keyframes slide {
    0% , 100% {
      bottom: -35px
    }
  
    25% , 75% {
      bottom: -2px
    }
  
    20% , 80% {
      bottom: 2px
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(-15deg)
    }
  
    25% , 75% {
      transform: rotate(0deg)
    }
  
    100% {
      transform: rotate(25deg)
    }
  }
    


.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 250px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #ce4233;
  letter-spacing: 0.2em;
}
.loader::before, .loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #ce4233;
  position: absolute;
  -webkit-animation: load .7s infinite alternate ease-in-out;
  animation: load .7s infinite alternate ease-in-out;
}
.loader::before {
  top: 0;
}
.loader::after {
  bottom: 0;
}

@-webkit-keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}
body{
    overflow-x: hidden !important;
}
/* 顶部栏 */
#top{
    width: 100%;
    height: 50px;
    border-top:2ps solid #fa7d3c;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.15);
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 999;
    max-width: 1464px;
    min-width: 1464px;
    max-height: 50px;
    min-height: 50px;
    border-bottom: 1px solid black;
}
#top #search1{
    background-color: white;
    display: none;
    position: absolute;
    top: 40px;
    left: 220px;
    width: 30%;
    height: auto;
    border: 1px solid red;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.49, 1.59, 0.46, -0.21);
}
#top #search1:focus-within{
    display: block; 
}
#search2{
    padding-left: 20px;
}
#top #search1 ul{
    position: relative;
    left: -44px;
    top: 0;
    width: 100%;
    float: none;
}
#top #search1 ul li{
    position: relative;
    left: -8px;
    top: 0;
    width: 100%;
    height: 30px;
    float: none;
}
#top #search1 ul li:hover{
    background-color: #FF8140;
}
#top #logo{
    flex: 1;
    overflow: hidden;
}
#top #search{ 
    margin-left: 0px;
    margin-top: 7px;
    width: 30%;
    height: 30px;
    border: 0px
}
#top #search:focus-within input{
    border: 1px solid orange;
}
#top #search:focus-within #search1{
    display: block;
} 
#top #search input{
    border: 1px solid black;
    float: left;
    outline: none; 
    width: 100%;
    height: 30px;
}
#top #search .search{
    position: relative;
    top: -27px;
    left: -5px;
    float: right;
    width: 5%;
    height: 70%;
}
#top  ul{
    margin-left: 10%;
    margin-top: 10px;
    flex: 2;
}
#top ul li{
    width: 23%;
    float: left;
    margin-left: 2%;
}
#top ul li img{
    width: 30%;
    height: 10%;
}
#top ul li span{
    position: relative;
    top: -8px;
    color: black;
}
#top ul li:hover span{
    color: orange;
}
#top ul li:hover img{
    filter:blur( ) 
}
#top div #l1{
    position: relative;
    top: -50px;
    left: 100px;
    /* width: 50%; */
    height: 300%;
    overflow: hidden;
}
#top #dl{
    flex: 1;
    width: 18%;
    float:right;
}
#top #dl ul{
    width: 100%;
    height: 50px;
}
#top #dl ul li:nth-child(2){
    margin-left: -4%;
}
#top #dl ul li:nth-child(3){
    margin-left: -10%;
}
#top #dl ul li{
    width: 20%;
    float: left;
    margin-left: 2%;
}
#top #dl ul a{
    color: black;
}
#top #dl ul a:hover{
    color: orange;
}
#top #dl img{
    margin-top: 5px;
    float: left;
    width: 20%;
    height: 70%;
    border-radius: 50%;
}
#top #dl p{
    margin-right: 50%;
    float: right;
    line-height: 50px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
#ydl{
    height: 50px;
}
#wdl{
    height: 50px;
}
/* 中间 */
#center{
    margin-top: 50px;
    width: 100%;
    height: 2000px;
    background-color: #FFFFFF;
}
#left{
    float: left;
    width: 20%;
    height: 400px;
    background-color: #FFFFFF;
}
#left ul{
    float: right;
    margin-top: 20px;
    margin-right: 30%;
}
.x1{
    background-color: #FE5435;
}
.x1 a{
    color: white;
}
#left ul li{
    padding:12px 15px;
    margin-top: 3px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    
}
#left ul li a{
    font-size: 20px;
    margin-left: 20%;
    width: 100%;
    height: 20px;
    color: black;
}
#zhongjian{
    max-width: 730px;
    min-width: 730px;
    float: left;
    width: 50%;
    height:auto;
    background-color: FFFFFF;
}
#zhongjian #lbt{
    width: 100%;
    height: 300px;
    background-color: pink;
}
#zhongjian #lbt img{
    width: 100%;
    height: 100%;
}
#zhongjian #lbt #dotall{
    margin-left: 42%;
    width: 50%;
    height: 50px;
}
    
    .shell {
    max-width: 730px;
    min-width: 730px;
    max-height: 400px;
    min-height: 400px;
    margin-top: 10px;
    width: 730px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.25);
    }
    .images {
    width: 500%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: .2s;
    }
    .img {
    width: 100%;
    background-size: cover;
    }
    .img:nth-child(1) {
    background-image: url("../Content/img/01.png");
    }
    .img:nth-child(2) {
    background-image: url("../Content/img/02.png");
    }
    .img:nth-child(3) {
    background-image: url("../Content/img/03.png");
    }
    .img:nth-child(4) {
    background-image: url("../Content/img/04.png");
    }
    .img:nth-child(5) {
    background-image: url("../Content/img/05.png");
    }
    .min {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 40px;
    width: 30%;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    }
    .m {
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 50%;
    border: solid rgba(255, 255, 255, 0.5) 5px;
    background-color: #fff;
    }
    .button {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
    }
    .button-left,
    .button-right {
    font-size: 25px;
    background-color: rgba(160, 193, 255, 0.2);
    padding: 0 20px;
    cursor: pointer;
    line-height: 200px;
    color: #fff;
    }
    #zhongjian #text #tz{
        margin-top: 20px;
        overflow: hidden;
        width: 100%;
        height: 180px;
        border-bottom: 1px solid red;
    }
    #zhongjian #text #tz img{
        border-radius: 10px;
        padding: 5px;
        width: 100%;
        height: 100%;
    }
    #zhongjian #text #tz #img1{
        border-radius: 10px;
        overflow: hidden;
        width: 39%;
        float: left;
    }
    #zhongjian #text #tz #text1{
        text-align: center;
        width: 60%;
        float: right;
        /* border: 1px solid red; */
    }
    #zhongjian #text #tz #text1 a{
        color: black;
    }
    #zhongjian #text #tz #text1 .nr{
        width: 100%;
        height: 120px;
        text-align: start;
    }
    #zhongjian #text #tz #text1 .nr .person{
        color: orange;
    }
    #zhongjian #text #tz #text1 .nr .gjc{
        color: red;
    }
    #zhongjian #text #tz #text1 .nr .time{
        margin-left: 10px;
        font-size: 12px;
    }
    #zhongjian #text #tz #text1 .mz{
        width: 30%;
        margin-left: 50%;
    }
    #zhongjian #text #tz #text1 .dz{
        width: 100%;
        float: right;
    }
    #zhongjian #text #tz #text1 .dz ul{
        margin-left: 50%;
    }
    #zhongjian #text #tz #text1 .dz ul li{
        font-size: 14px;
        float: left;
    }
    #zhongjian #text #tz #text1 .dz ul li a{
        color: black;
        text-decoration: none;
    }
    #zhongjian #text #tz #text1 .dz ul li:nth-child(2n+1){
        width: 25%;
        float: left;
    }
    #zhongjian #text #tz #text1 .dz ul li img{
        vertical-align: middle;
        width: 25%;
        height: 25%;
    }
    #zhongjian #text #tz #text1 .dz ul li span{
        vertical-align: middle;
    }
    #gotop{
        position: fixed;
        right: 0;
        bottom:100px;
        background-color: #f97229;
    }
#zhongjian #lbt .dot{
    float: left;
    width: 2%;
    height: 15%;
    border: 1px solid red;
    border-radius: 60%;
    margin-left: 5px;
    border: 1px solid black;
}
.t1{
    background-color: #f97229;
}
#zhongjian #text{
    width: 100%;
    height: auto;
    /* background-color: gold; */
}
#right{
    float: right;
    width: 30%;
    height: 400px;
    background-color: #F2F2F5;
}
/* 登录界面 */
#right #login{
    
    max-width: 440px;
    min-width: 440px;
    max-height: 200px;
    min-height: 200px;
    width: 100%;
    height: 200px;
}
.f{
    display: none;
}
.s{
    display: block;
}
.login1{
    transition: all;
    transition-duration: 1s;
    position:fixed;
    right:0px;
    top:50px;
}
#right #login1{
    margin: 20px auto;
    width: 80%;
    height: 330px;
    background-color: white;
    border-radius: 5px;
    color: #808080;
}
#right #login1 #choose{
    width: 100%;
}
#right #login1 #choose a{
    color: black;
}
#right #login1 #UserL1{
    float: left;
}
#right #login1 #SmL1{
    float:right;
}
#right #login1 .choose{
    border-bottom: 1px solid gainsboro;
    line-height: 50px;
    width: 50%;
    height: 50px;
}
#right #login1 .choose a{
    margin-left: 30%;
}
/* #right #login1 .choose:hover{
    border-bottom: 1px solid orange;
} */
#right #login1 .x3{
    border-bottom: 1px solid orange;
    font-weight: bold;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.49, 1.59, 0.46, -0.21);
}
#right #login1 .x3 a{
    color: black;
}
#right #login1 #userL{
    animation: login 1.5s;
}
#right #login1 #userL .lo{
    float: right;
    overflow: hidden;
    width: 85%;
    height: 30px;
    border: 0px;
    border-radius: 0px 5px 5px 0;
    outline: none;
    padding-left: 10px;
} 
#right #login1 #userL div{
    margin-left: 10%;
    overflow: hidden;
    margin-top: 20px;
    width: 80%;
}
#right #login1 #userL div:nth-child(1):focus-within,#right #login1 #userL div:nth-child(2):focus-within{
    border: 1px solid orange;
}
 #right #login1 #userL div:nth-child(1),#right #login1 #userL div:nth-child(2){
    display: flex;
    position: relative;
    top: 20px;
    border: 1px solid black;
} 
#right #login1 #userL div:nth-child(3){
    margin-top: 30px;
    display: flex;
    font-size: 12px;
}
#right #login1 #userL div:nth-child(3) a{
   color: #808080;
}
#right #login1 #userL div:nth-child(5){
    font-size: 12px;
}
#right #login1 #userL div:nth-child(5) a{
    color: orange;
}
#right #login1 #userL div:nth-child(4):hover #Loginsub{
    background-color: #f97229;
    cursor: pointer;
}
#right #login1 #userL hr{
    position: relative;
    top: 10px;
    margin: 0 auto;
    width: 80%;
}
#right #login1 #userL img{
    margin-left: 5px;
    margin-top: 4px;
    flex: 0.6;
    filter: drop-shadow(40px 40px yellow);
    width: 5%;
    height: 5%;
} 
#right #login1 #userL #forget{
    margin-left: 65%;
}
#right #login1 #userL #Loginsub{
    width: 100%;
    height: 40px;
    
    background-color: #FF8140;
    color: white;
    font-size: 16px;
    border: 0px;
}
#right #login1 #UserL1:hover,#right #login1 #SmL1:hover{
    cursor: pointer;
}
#right #login1 #SmL img{
    margin-left: 20%;
    margin-top: 10%;
    width: 60%;
    height: 60%;
    animation: wx 1.5s;
}
@keyframes wx{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
@keyframes login{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
div:has(#Loginsub){
    border: 0px;
}
#phb{
    margin-top: 200PX;
    width: 100%;
    height: auto;
    border-top: 1px solid red;
    overflow: hidden;
    background-color: #F2F2F5;
}
#phb1{
    width: 92%;
    height: 90px;
}
#phb h3,#phb div:nth-child(1){
    padding: 10px;
}
#phb .left{
    float: left;
    width: 30%;
}
#phb .right{
    width: 60%;
    float: right;
}
#phb .right p{
    padding-top: 10px;
}
#phb .right p:nth-child(1){
    font-size: 16px;
}
#phb .right p:nth-child(2){
    font-size: 12px;
}
#phb .right p:nth-child(2) a{
    color: gainsboro;
}
#phb .right p:nth-child(1):hover a{
    color:orange ;
}
#phb .right p a{
    color: black;
}
#phb img{
    width: 100%;
    height: 100%;
}
/* 尾页 */
#end{
    width: 100%;
    height: 250px;
    background-color: black;
}