USE [master]
GO
/****** Object:  Database [YueBoDB]    Script Date: 2023/6/9 13:50:44 ******/
CREATE DATABASE [YueBoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IreaderDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IreaderDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IreaderDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IreaderDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YueBoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YueBoDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2023/6/9 13:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminNumber] [nvarchar](50) NOT NULL,
	[AdminAccount] [nvarchar](50) NOT NULL,
	[AdminPwd] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminControl]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminControl](
	[AdminControlID] [int] IDENTITY(1,1) NOT NULL,
	[AdminID] [int] NOT NULL,
	[AdminContent] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AdminControl] PRIMARY KEY CLUSTERED 
(
	[AdminControlID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Content]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content](
	[ContentID] [int] IDENTITY(1,1) NOT NULL,
	[ContentPic] [nvarchar](200) NULL,
	[ContentDesc] [nvarchar](1000) NULL,
	[ContentTime] [datetime] NOT NULL,
	[FatherContentID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[PostID] [int] NOT NULL,
 CONSTRAINT [PK_Content] PRIMARY KEY CLUSTERED 
(
	[ContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Follow]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follow](
	[FollowID] [int] IDENTITY(1,1) NOT NULL,
	[FollowTime] [datetime] NOT NULL,
	[FollowUserID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Follow] PRIMARY KEY CLUSTERED 
(
	[FollowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forward]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forward](
	[ForwardID] [int] IDENTITY(1,1) NOT NULL,
	[ForwardContent] [nvarchar](200) NULL,
	[UserID] [int] NOT NULL,
	[PostID] [int] NOT NULL,
 CONSTRAINT [PK_Forward] PRIMARY KEY CLUSTERED 
(
	[ForwardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Like]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Like](
	[LikeID] [int] IDENTITY(1,1) NOT NULL,
	[PostID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Like] PRIMARY KEY CLUSTERED 
(
	[LikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[PostPic] [nvarchar](50) NULL,
	[PostVideo] [nvarchar](50) NULL,
	[PostContent] [nvarchar](500) NULL,
	[IsHot] [bit] NOT NULL,
	[IsBan] [bit] NOT NULL,
	[IsDIY] [bit] NOT NULL,
	[PostTime] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostStatus]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PostStatus] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostType]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostType](
	[PostTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NOT NULL,
	[PostID] [int] NOT NULL,
 CONSTRAINT [PK_PostType] PRIMARY KEY CLUSTERED 
(
	[PostTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrivateMessage]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrivateMessage](
	[PrivateMessageID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PrivateMessageUserID] [int] NOT NULL,
	[IsBan] [bit] NOT NULL,
 CONSTRAINT [PK_PrivateMessage] PRIMARY KEY CLUSTERED 
(
	[PrivateMessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrivateMessageDetail]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrivateMessageDetail](
	[PrivateMessageDetailID] [int] IDENTITY(1,1) NOT NULL,
	[PrivateMessageID] [int] NOT NULL,
	[PrivateMessageContent] [nvarchar](200) NOT NULL,
	[PrivateMessageTime] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_PrivateMessageDetail] PRIMARY KEY CLUSTERED 
(
	[PrivateMessageDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PostID] [int] NOT NULL,
	[ReportTypeID] [int] NOT NULL,
	[Reason] [nvarchar](200) NULL,
	[IsSeccess] [bit] NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportType]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportType](
	[ReportTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ReportTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ReportType] PRIMARY KEY CLUSTERED 
(
	[ReportTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensitiveWord]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensitiveWord](
	[SensitiveWordID] [int] IDENTITY(1,1) NOT NULL,
	[SensitiveContent] [nvarchar](50) NOT NULL,
	[DeductionPoint] [int] NOT NULL,
 CONSTRAINT [PK_SensitiveWord] PRIMARY KEY CLUSTERED 
(
	[SensitiveWordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[FatherTypeID] [int] NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserNick] [nvarchar](15) NOT NULL,
	[UserAccount] [nvarchar](50) NOT NULL,
	[Signature] [nvarchar](50) NULL,
	[UserPwd] [nvarchar](50) NOT NULL,
	[UserPic] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[IDcard] [char](18) NULL,
	[Sex] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
	[RegisterTime] [datetime] NOT NULL,
	[CreditScore] [int] NOT NULL,
	[IsBan] [bit] NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLabel]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLabel](
	[UserLabelID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
 CONSTRAINT [PK_UserLabel] PRIMARY KEY CLUSTERED 
(
	[UserLabelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[UserTypeID] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTypeDetail]    Script Date: 2023/6/9 13:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypeDetail](
	[UserTypeDetailID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[UserTypeID] [int] NOT NULL,
	[ReviewPic] [nvarchar](50) NOT NULL,
	[IsAuthentication] [bit] NOT NULL,
 CONSTRAINT [PK_UserTypeDetail] PRIMARY KEY CLUSTERED 
(
	[UserTypeDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminID], [AdminNumber], [AdminAccount], [AdminPwd]) VALUES (1, N'YB1', N'13564798779', N'LLq3Sb')
INSERT [dbo].[Admin] ([AdminID], [AdminNumber], [AdminAccount], [AdminPwd]) VALUES (2, N'YB2', N'13248753946', N'cfccBx')
INSERT [dbo].[Admin] ([AdminID], [AdminNumber], [AdminAccount], [AdminPwd]) VALUES (3, N'YB3', N'13538645139', N'P1AuRh')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[AdminControl] ON 

INSERT [dbo].[AdminControl] ([AdminControlID], [AdminID], [AdminContent]) VALUES (1, 1, N'封禁了用户')
INSERT [dbo].[AdminControl] ([AdminControlID], [AdminID], [AdminContent]) VALUES (2, 2, N'封禁了帖子')
INSERT [dbo].[AdminControl] ([AdminControlID], [AdminID], [AdminContent]) VALUES (3, 3, N'封禁了用户')
SET IDENTITY_INSERT [dbo].[AdminControl] OFF
GO
SET IDENTITY_INSERT [dbo].[Content] ON 

INSERT [dbo].[Content] ([ContentID], [ContentPic], [ContentDesc], [ContentTime], [FatherContentID], [UserID], [PostID]) VALUES (1, NULL, N'有个性的博主', CAST(N'2019-08-08T19:53:49.847' AS DateTime), 0, 147, 1)
INSERT [dbo].[Content] ([ContentID], [ContentPic], [ContentDesc], [ContentTime], [FatherContentID], [UserID], [PostID]) VALUES (2, NULL, N'有意思', CAST(N'2019-08-06T21:52:36.307' AS DateTime), 0, 102, 1)
INSERT [dbo].[Content] ([ContentID], [ContentPic], [ContentDesc], [ContentTime], [FatherContentID], [UserID], [PostID]) VALUES (3, NULL, N'好玩', CAST(N'2015-11-12T06:00:41.260' AS DateTime), 0, 8, 1)
SET IDENTITY_INSERT [dbo].[Content] OFF
GO
SET IDENTITY_INSERT [dbo].[Follow] ON 

INSERT [dbo].[Follow] ([FollowID], [FollowTime], [FollowUserID], [UserID]) VALUES (1, CAST(N'2018-07-17T08:57:01.280' AS DateTime), 119, 1)
INSERT [dbo].[Follow] ([FollowID], [FollowTime], [FollowUserID], [UserID]) VALUES (2, CAST(N'2016-06-15T12:41:29.900' AS DateTime), 100, 1)
INSERT [dbo].[Follow] ([FollowID], [FollowTime], [FollowUserID], [UserID]) VALUES (3, CAST(N'2017-02-14T08:33:47.157' AS DateTime), 91, 1)
SET IDENTITY_INSERT [dbo].[Follow] OFF
GO
SET IDENTITY_INSERT [dbo].[Forward] ON 

INSERT [dbo].[Forward] ([ForwardID], [ForwardContent], [UserID], [PostID]) VALUES (1, N'池田大作曾经说过，不要回避苦恼和困难，挺起身来向它挑战，进而克服它。', 17, 1)
INSERT [dbo].[Forward] ([ForwardID], [ForwardContent], [UserID], [PostID]) VALUES (2, N'我希望诸位也能好好地体会这句话。', 75, 1)
INSERT [dbo].[Forward] ([ForwardID], [ForwardContent], [UserID], [PostID]) VALUES (3, N'维龙曾经说过，要成功不需要什么特别的才能，只要把你能做的小事做得好就行了。', 57, 1)
SET IDENTITY_INSERT [dbo].[Forward] OFF
GO
SET IDENTITY_INSERT [dbo].[Like] ON 

INSERT [dbo].[Like] ([LikeID], [PostID], [UserID]) VALUES (1, 2, 12)
INSERT [dbo].[Like] ([LikeID], [PostID], [UserID]) VALUES (2, 2, 114)
INSERT [dbo].[Like] ([LikeID], [PostID], [UserID]) VALUES (3, 10, 74)
SET IDENTITY_INSERT [dbo].[Like] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([PostID], [PostPic], [PostVideo], [PostContent], [IsHot], [IsBan], [IsDIY], [PostTime], [UserID], [StatusID]) VALUES (1, N'无', N'无', N'好', 1, 0, 1, CAST(N'2011-12-02T14:12:00.767' AS DateTime), 40, 3)
INSERT [dbo].[Post] ([PostID], [PostPic], [PostVideo], [PostContent], [IsHot], [IsBan], [IsDIY], [PostTime], [UserID], [StatusID]) VALUES (2, N'无', N'无', N'牛', 0, 0, 1, CAST(N'2017-06-30T10:58:13.877' AS DateTime), 114, 1)
INSERT [dbo].[Post] ([PostID], [PostPic], [PostVideo], [PostContent], [IsHot], [IsBan], [IsDIY], [PostTime], [UserID], [StatusID]) VALUES (3, N'无', N'无', N'阿', 0, 0, 1, CAST(N'2017-04-27T15:31:59.443' AS DateTime), 67, 2)
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[PostStatus] ON 

INSERT [dbo].[PostStatus] ([StatusID], [Status]) VALUES (1, N'所有人可见')
INSERT [dbo].[PostStatus] ([StatusID], [Status]) VALUES (2, N'仅自己可见')
INSERT [dbo].[PostStatus] ([StatusID], [Status]) VALUES (3, N'仅粉丝可见')
SET IDENTITY_INSERT [dbo].[PostStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[PostType] ON 

INSERT [dbo].[PostType] ([PostTypeID], [TypeID], [PostID]) VALUES (1, 2, 1)
INSERT [dbo].[PostType] ([PostTypeID], [TypeID], [PostID]) VALUES (2, 21, 2)
INSERT [dbo].[PostType] ([PostTypeID], [TypeID], [PostID]) VALUES (3, 21, 3)
SET IDENTITY_INSERT [dbo].[PostType] OFF
GO
SET IDENTITY_INSERT [dbo].[PrivateMessage] ON 

INSERT [dbo].[PrivateMessage] ([PrivateMessageID], [UserID], [PrivateMessageUserID], [IsBan]) VALUES (1, 6, 124, 0)
INSERT [dbo].[PrivateMessage] ([PrivateMessageID], [UserID], [PrivateMessageUserID], [IsBan]) VALUES (2, 2, 111, 0)
INSERT [dbo].[PrivateMessage] ([PrivateMessageID], [UserID], [PrivateMessageUserID], [IsBan]) VALUES (3, 6, 31, 0)
SET IDENTITY_INSERT [dbo].[PrivateMessage] OFF
GO
SET IDENTITY_INSERT [dbo].[PrivateMessageDetail] ON 

INSERT [dbo].[PrivateMessageDetail] ([PrivateMessageDetailID], [PrivateMessageID], [PrivateMessageContent], [PrivateMessageTime], [IsRead]) VALUES (1, 1, N'珍德是你鸭', CAST(N'2023-06-04T12:04:28.120' AS DateTime), 0)
INSERT [dbo].[PrivateMessageDetail] ([PrivateMessageDetailID], [PrivateMessageID], [PrivateMessageContent], [PrivateMessageTime], [IsRead]) VALUES (2, 2, N'嚎笑马', CAST(N'2023-06-09T03:10:50.133' AS DateTime), 0)
INSERT [dbo].[PrivateMessageDetail] ([PrivateMessageDetailID], [PrivateMessageID], [PrivateMessageContent], [PrivateMessageTime], [IsRead]) VALUES (3, 3, N'你们灰勒塔的医生', CAST(N'2023-06-07T20:58:14.957' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[PrivateMessageDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([ReportID], [UserID], [PostID], [ReportTypeID], [Reason], [IsSeccess]) VALUES (1, 53, 3, 2, N'总结的来说，普列姆昌德曾经说过，希望的灯一旦熄灭，生活刹那间变成了一片黑暗。', 0)
INSERT [dbo].[Report] ([ReportID], [UserID], [PostID], [ReportTypeID], [Reason], [IsSeccess]) VALUES (2, 112, 7, 6, N'这启发了我，每个人都不得不面对这些问题。', 0)
INSERT [dbo].[Report] ([ReportID], [UserID], [PostID], [ReportTypeID], [Reason], [IsSeccess]) VALUES (3, 18, 6, 3, N'在面对这种问题时，举报因何而发生?达尔文曾经说过，敢于浪费哪怕一个钟头时间的人，说明他还不懂得珍惜生命的全部价值。', 0)
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportType] ON 

INSERT [dbo].[ReportType] ([ReportTypeID], [ReportTypeName]) VALUES (1, N'人身攻击')
INSERT [dbo].[ReportType] ([ReportTypeID], [ReportTypeName]) VALUES (2, N'不友好发言')
INSERT [dbo].[ReportType] ([ReportTypeID], [ReportTypeName]) VALUES (3, N'涉黄信息')
SET IDENTITY_INSERT [dbo].[ReportType] OFF
GO
SET IDENTITY_INSERT [dbo].[SensitiveWord] ON 

INSERT [dbo].[SensitiveWord] ([SensitiveWordID], [SensitiveContent], [DeductionPoint]) VALUES (1, N'5YW8emhpCg==', 17)
INSERT [dbo].[SensitiveWord] ([SensitiveWordID], [SensitiveContent], [DeductionPoint]) VALUES (2, N'5YyW5aaG5ZOBCg==', 3)
INSERT [dbo].[SensitiveWord] ([SensitiveWordID], [SensitiveContent], [DeductionPoint]) VALUES (3, N'54ix54ixCg==', 12)
GO
SET IDENTITY_INSERT [dbo].[SensitiveWord] OFF
GO
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([TypeID], [TypeName], [FatherTypeID]) VALUES (1, N'游戏', 0)
INSERT [dbo].[Type] ([TypeID], [TypeName], [FatherTypeID]) VALUES (2, N'影视', 0)
INSERT [dbo].[Type] ([TypeID], [TypeName], [FatherTypeID]) VALUES (3, N'娱乐', 0)
SET IDENTITY_INSERT [dbo].[Type] OFF
GO
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([UserID], [UserName], [UserNick], [UserAccount], [Signature], [UserPwd], [UserPic], [Phone], [Email], [IDcard], [Sex], [Birthday], [RegisterTime], [CreditScore], [IsBan]) VALUES (1, N'王昊东', N'南门清一', N'prpmk', N'乌申斯基曾经说过，学习是劳动，是充满思想的劳动。', N'7DXwEohpq', N'头像7.jpg', N'13788087126', N'prpmk@qq.com', N'420101198409286953', N'男', CAST(N'1984-09-28T00:00:00.000' AS DateTime), CAST(N'2012-01-18T05:37:23.233' AS DateTime), 100, 0)
INSERT [dbo].[UserInfo] ([UserID], [UserName], [UserNick], [UserAccount], [Signature], [UserPwd], [UserPic], [Phone], [Email], [IDcard], [Sex], [Birthday], [RegisterTime], [CreditScore], [IsBan]) VALUES (2, N'钱钰由', N'绳安萱', N'wipelwlqpeqv', N'这启发了我，生活中，若签名出现了，我们就不得不考虑它出现了的事实。', N'dTUrjCCd3u', N'头像2.jpg', N'15161812381', N'wipelwlqpeqv@qq.com', N'420101198604148126', N'女', CAST(N'1900-01-01T00:00:00.000' AS DateTime), CAST(N'2011-05-06T02:52:23.513' AS DateTime), 100, 0)
INSERT [dbo].[UserInfo] ([UserID], [UserName], [UserNick], [UserAccount], [Signature], [UserPwd], [UserPic], [Phone], [Email], [IDcard], [Sex], [Birthday], [RegisterTime], [CreditScore], [IsBan]) VALUES (3, N'施天昊', N'郁夏菡', N'nbmbewjshro', N'叔本华在不经意间这样说过，意志是一个强壮的盲人，倚靠在明眼的跛子肩上。', N'Z7SvequQHT6', N'头像9.jpg', N'15776803590', N'nbmbewjshro@qq.com', N'420101199903198224', N'女', CAST(N'1900-01-01T00:00:00.000' AS DateTime), CAST(N'2017-02-23T15:29:08.210' AS DateTime), 100, 0)
GO
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLabel] ON 

INSERT [dbo].[UserLabel] ([UserLabelID], [UserID], [TypeID]) VALUES (1, 1, 19)
INSERT [dbo].[UserLabel] ([UserLabelID], [UserID], [TypeID]) VALUES (2, 2, 21)
INSERT [dbo].[UserLabel] ([UserLabelID], [UserID], [TypeID]) VALUES (3, 3, 12)
GO
SET IDENTITY_INSERT [dbo].[UserLabel] OFF
GO
SET IDENTITY_INSERT [dbo].[UserType] ON 

INSERT [dbo].[UserType] ([UserTypeID], [UserTypeName]) VALUES (1, N'普通用户')
INSERT [dbo].[UserType] ([UserTypeID], [UserTypeName]) VALUES (2, N'明星')
INSERT [dbo].[UserType] ([UserTypeID], [UserTypeName]) VALUES (3, N'企业/品牌')
SET IDENTITY_INSERT [dbo].[UserType] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTypeDetail] ON 

INSERT [dbo].[UserTypeDetail] ([UserTypeDetailID], [UserID], [UserTypeID], [ReviewPic], [IsAuthentication]) VALUES (1, 1, 3, N'无', 1)
INSERT [dbo].[UserTypeDetail] ([UserTypeDetailID], [UserID], [UserTypeID], [ReviewPic], [IsAuthentication]) VALUES (2, 2, 2, N'无', 1)
INSERT [dbo].[UserTypeDetail] ([UserTypeDetailID], [UserID], [UserTypeID], [ReviewPic], [IsAuthentication]) VALUES (3, 3, 3, N'无', 0)
GO
SET IDENTITY_INSERT [dbo].[UserTypeDetail] OFF
GO
ALTER TABLE [dbo].[AdminControl]  WITH CHECK ADD  CONSTRAINT [FK_AdminControl_Admin] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admin] ([AdminID])
GO
ALTER TABLE [dbo].[AdminControl] CHECK CONSTRAINT [FK_AdminControl_Admin]
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD  CONSTRAINT [FK_Content_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Content] CHECK CONSTRAINT [FK_Content_Post]
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD  CONSTRAINT [FK_Content_UserInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[Content] CHECK CONSTRAINT [FK_Content_UserInfo]
GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD  CONSTRAINT [FK_Follow_UserInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[Follow] CHECK CONSTRAINT [FK_Follow_UserInfo]
GO
ALTER TABLE [dbo].[Forward]  WITH CHECK ADD  CONSTRAINT [FK_Forward_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Forward] CHECK CONSTRAINT [FK_Forward_Post]
GO
ALTER TABLE [dbo].[Forward]  WITH CHECK ADD  CONSTRAINT [FK_Forward_UserInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[Forward] CHECK CONSTRAINT [FK_Forward_UserInfo]
GO
ALTER TABLE [dbo].[Like]  WITH CHECK ADD  CONSTRAINT [FK_Like_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Like] CHECK CONSTRAINT [FK_Like_Post]
GO
ALTER TABLE [dbo].[Like]  WITH CHECK ADD  CONSTRAINT [FK_Like_UserInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[Like] CHECK CONSTRAINT [FK_Like_UserInfo]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Post] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Post]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_PostStatus] FOREIGN KEY([StatusID])
REFERENCES [dbo].[PostStatus] ([StatusID])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_PostStatus]
GO
ALTER TABLE [dbo].[PostType]  WITH CHECK ADD  CONSTRAINT [FK_PostType_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[PostType] CHECK CONSTRAINT [FK_PostType_Post]
GO
ALTER TABLE [dbo].[PostType]  WITH CHECK ADD  CONSTRAINT [FK_PostType_PostType] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Type] ([TypeID])
GO
ALTER TABLE [dbo].[PostType] CHECK CONSTRAINT [FK_PostType_PostType]
GO
ALTER TABLE [dbo].[PrivateMessage]  WITH CHECK ADD  CONSTRAINT [FK_PrivateMessage_UserInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[PrivateMessage] CHECK CONSTRAINT [FK_PrivateMessage_UserInfo]
GO
ALTER TABLE [dbo].[PrivateMessageDetail]  WITH CHECK ADD  CONSTRAINT [FK_PrivateMessageDetail_PrivateMessageDetail] FOREIGN KEY([PrivateMessageID])
REFERENCES [dbo].[PrivateMessage] ([PrivateMessageID])
GO
ALTER TABLE [dbo].[PrivateMessageDetail] CHECK CONSTRAINT [FK_PrivateMessageDetail_PrivateMessageDetail]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Post]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_ReportType] FOREIGN KEY([ReportTypeID])
REFERENCES [dbo].[ReportType] ([ReportTypeID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_ReportType]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_UserInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_UserInfo]
GO
ALTER TABLE [dbo].[UserLabel]  WITH CHECK ADD  CONSTRAINT [FK_UserType_Type] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Type] ([TypeID])
GO
ALTER TABLE [dbo].[UserLabel] CHECK CONSTRAINT [FK_UserType_Type]
GO
ALTER TABLE [dbo].[UserLabel]  WITH CHECK ADD  CONSTRAINT [FK_UserType_UserInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[UserLabel] CHECK CONSTRAINT [FK_UserType_UserInfo]
GO
ALTER TABLE [dbo].[UserTypeDetail]  WITH CHECK ADD  CONSTRAINT [FK_UserTypeDetail_UserInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([UserID])
GO
ALTER TABLE [dbo].[UserTypeDetail] CHECK CONSTRAINT [FK_UserTypeDetail_UserInfo]
GO
ALTER TABLE [dbo].[UserTypeDetail]  WITH CHECK ADD  CONSTRAINT [FK_UserTypeDetail_UserType] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[UserType] ([UserTypeID])
GO
ALTER TABLE [dbo].[UserTypeDetail] CHECK CONSTRAINT [FK_UserTypeDetail_UserType]
GO
USE [master]
GO
