@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1686814292943') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\f015c";
}

.icon-huangguan:before {
  content: "\344c";
}

.icon-9:before {
  content: "\f0034";
}

.icon-8:before {
  content: "\f0035";
}

.icon-7:before {
  content: "\f0036";
}

.icon-6:before {
  content: "\f0037";
}

.icon-5:before {
  content: "\f0038";
}

.icon-4:before {
  content: "\f0039";
}

.icon-3:before {
  content: "\f003a";
}

.icon-2:before {
  content: "\f003b";
}

.icon-1:before {
  content: "\f003c";
}

.icon-dianzan:before {
  content: "\f010d";
}

.icon-iconfontguanyuwomen:before {
  content: "\e613";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-duanxin:before {
  content: "\e647";
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-time:before {
  content: "\e683";
}

.icon-et-more1:before {
  content: "\e66a";
}

.icon-liuyan:before {
  content: "\e65e";
}

.icon-top:before {
  content: "\e607";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-fenxiang:before {
  content: "\e86f";
}

.icon-hongqi:before {
  content: "\e641";
}

.icon-remen:before {
  content: "\e8f4";
}

.icon-geren:before {
  content: "\e610";
}

.icon-kefu:before {
  content: "\e608";
}

.icon-ishipinshixiao:before {
  content: "\ec7d";
}

.icon-hezuo:before {
  content: "\e605";
}

.icon-sun:before {
  content: "\e6a2";
}

.icon-huatifuhao:before {
  content: "\e8b0";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-icon-test:before {
  content: "\e666";
}

.icon-jubao:before {
  content: "\e609";
}

.icon-renzheng:before {
  content: "\e811";
}

.icon-shipin:before {
  content: "\e602";
}

.icon-changjiantou-shang:before {
  content: "\e7c9";
}

.icon-hot-for-ux:before {
  content: "\e83d";
}

.icon-yueliang:before {
  content: "\e6a7";
}

