<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的关注</title>
    <link rel="stylesheet" href="CSS/UserInfo.css">
    <link rel="stylesheet" href="CSS/bootstrap.min.css">
    
    <link rel="stylesheet" href="./albb/font_a5jalowfoe/iconfont.css">
    <link rel="stylesheet" href="./albb/font_wtqi9yoho/iconfont.css">
    <link rel="stylesheet" href="CSS/antd.min.css">
    <script src="JS/jquery-3.4.1.min.js"></script>
    <script src="JS/vue.min.js"></script>
    <script src="JS/antd.min.js"></script>
    
    <script src="JS/UserInfo.js"></script>
</head>

<body id="body">
    <div id="nav">
        <div class="nav-center">
            <div class="nav-center-logo">
                <img src="./Content/img/logo.png" style="width: 10%;height: 10%;" alt="">
            </div>
            <div class="nav-center-search">
                <div class="iconfont icon-sousuo active"></div>
                <input type="text" placeholder="搜索阅博">
                <div class="radius"></div>
            </div>
            <div class="nav-center-five">
                <div class="iconfont icon-shouye show1"></div>
                <div class="iconfont icon-shipin"></div>
                <div class="iconfont icon-huo"></div>
                <div class="iconfont icon-duanxin"></div>
                <div class="iconfont icon-geren"></div>
            </div>
            <div class="nav-center-four">
                <div class="nav-center-login" v-if="falg">
                    登录
                </div>
                <div class="nav-center-register" v-if="falg">
                    注册
                </div>
                <div class="nav-center-sun iconfont icon-sun" id="sun">

                </div>
                <div class="nav-center-liuyan iconfont icon-liuyan">

                </div>
            </div>
            <!-- <div class="nav-center-barrier">
                无障碍
            </div> -->
        </div>
    </div>
    <div id="section">
        <div id="left">
            <ul>
                <li id="li1">个人主页</li>
                <li><a href="UserInfo.html">我的主页</a></li>
                <li><a href="Attention.html">我的关注</a></li>
                <li><a href="Fans.html">我的粉丝</a></li>
                <li><a href="Dynamic.html">我的动态</a></li>
                <li><a href="Install.html">设置</a></li>
                <li><a href="Personal.html">我的私信</a></li>
            </ul>
        </div>
        <div id="Content">
            <h2>我关注的</h2>
            <p>
                <a href="Index.html" style="color: blueviolet;">{{ Hint }}</a>
            </p>
            <div v-for="(item,index) in Attention" :key="index" class="table-bordered" style="background-color: white;">
                <div style="height: 130px;">
                    <p>
                        <img v-bind:src="Uimg+item.UserPic" @click="afor(item.UserID)"
                            style="border-radius:24px 24px 24px 24px;cursor:pointer;" width="50" height="50">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>你在&nbsp;{{ item.FollowTime }} 关注了{{ item.Sex }}</span>
                    </p>
                    <p>
                        <span>{{ item.UserNick }}</span>
                    </p>
                    <p>
                        {{ item.Signature }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>

        //进入页面初始化，非登录点击将会被退出,通过判断cookie是否存在
        window.onload = function () {
            var UserID = getCookie("uid");
            if (UserID != "") {
                Getvue(UserID);
            } else {
                alert('正在前往登录.....')
                location.href = "Login.html";
            }
        };
        //user通过cookie获取用户信息，Uimg软件路劲，
        //Fans粉丝信息，Attention关注信息
        //
        function Getvue(UserID){
        var vm = new Vue({
            el: "#Content",
            data: {
                user: "",
                Uimg: "https://localhost:44364/Uploads/images/tx/",
                // Fans: "",
                Attention: "",
                Hint:""
            },
            created() {
                //UserID参数放入其中
                this.user = GetUser(UserID);
                // this.Fans = GetFollowUser(this.user.UserID);
                this.Attention = GetUserFollow(this.user.UserID);
                if(this.Attention.length==0){
                    this.Hint="您暂时没有关注任何人，去关注他人吧"
                }
            },
            methods: {
                afor(id) {
                    setCookie("HisUserID", id, 1);
                    location.href = "HisUserInfo.html";
                }
            }
        })

        }
        //获取用户信息
        function GetUser(uid) {
            var k
            $.ajax({
                url: GetIp("GetUserInfo"),
                type: "Get",
                async: false,
                data: { "uid": uid },
                success: function (res) {
                    //字符串转日期后格式化
                    let d = new Date(res.Birthday)
                    res.Birthday = d.getFullYear() + '年' + (d.getMonth() + 1) + '月' + d.getDate() + '日';
                    //字符串转日期后格式化
                    let d1 = new Date(res.RegisterTime)
                    res.RegisterTime = d1.getFullYear() + '年' + (d.getMonth() + 1) + '月' + d.getDate() + '日';
                    k = res;
                },
                error: function () {
                    alert('出现错误')
                }
            })
            return k;
        }
        //链接端口只改变末位端口值，简化代码
        function GetIp(IPdet) {
            return "https://localhost:44364/api/" + IPdet;
        }
        //获取当前用户关注信息
        function GetUserFollow(uid) {
            var k
            $.ajax({
                url: GetIp("GetUserFollow"),
                type: "Get",
                async: false,
                data: { "uid": uid },
                success: function (res) {
                    $.each(res,function(index,item){
                        if(item.Sex=="男"){
                            item.Sex="他"
                        }else{
                            item.Sex="她"
                        }
                        let d = new Date(item.FollowTime)
                        item.FollowTime = d.getFullYear() + '年' + (d.getMonth() + 1) + '月' + d.getDate() + '日';
                    })
                    k = res;
                },
                error: function () {
                    alert('出现错误')
                }
            })
            return k;
        }
        //获取当前用户粉丝信息
        function GetFollowUser(uid) {
            var k
            $.ajax({
                url: GetIp("GetFollowUser"),
                type: "Get",
                async: false,
                data: { "uid": uid },
                success: function (res) {
                    $.each(res,function(index,item){
                        if(item.Sex=="男"){
                            item.Sex="他"
                        }else{
                            item.Sex="她"
                        }
                        let d = new Date(res.FollowTime)
                        res.FollowTime = d.getFullYear() + '年' + (d.getMonth() + 1) + '月' + d.getDate() + '日';
                    })
                    k = res;
                },
                error: function () {
                    alert('出现错误')
                }
            })
            return k;
        }
        //清除所有cookie
        function clearCookie() {
            var keys = document.cookie.match(/[^ =;]+(?=\=)/g);
            if (keys) {
                for (var i = keys.length; i--;) {
                    document.cookie = keys[i] + '=0;path=/;expires=' + new Date(0).toUTCString();//清除当前域名下的,例如：m.kevis.com
                    document.cookie = keys[i] + '=0;path=/;domain=' + document.domain + ';expires=' + new Date(0).toUTCString();//清除当前域名下的，例如 .m.kevis.com
                    document.cookie = keys[i] + '=0;path=/;domain=kevis.com;expires=' + new Date(0).toUTCString();//清除一级域名下的或指定的，例如 .kevis.com
                }
            }
            console.log('已清除');
        }
        //读取cookie
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }
        //创建Cookie
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }
        //退出清除指定cookie
        function clearCookie(name) {
            setCookie(name, "", -1)
        }
    </script>
</body>

</html>