<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/UserInfo.css">
    <link rel="stylesheet" href="CSS/User1.css">
    <link rel="stylesheet" href="CSS/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/antd.min.css">
    <link rel="stylesheet" href="./albb/font_a5jalowfoe/iconfont.css">
    <link rel="stylesheet" href="./albb/font_wtqi9yoho/iconfont.css">
    <script src="JS/jquery-3.4.1.min.js"></script>
    
    <script src="JS/vue.min.js"></script>
    <script src="JS/antd.min.js"></script>
    <script src="JS/HisDynamic.js"></script>
    <script src="JS/bootstrap.min.js"></script>
</head>
<body>
    <div id="section">
        <div id="left">
            <ul>

                <li id="li1">他人主页</li>
                <li><a href="HisUserInfo.html">主页</a></li>
                <li><a href="HisDynamic.html">动态</a></li>
                <li><button onclick="retu()" class="btn btn-primary">返回</button></li>
            </ul>
        </div>
        <div id="Content">
            <h1>我的动态</h1>
            <div v-for="(index,t) in data1">
                <div class="main-bottom-blog" id="{{index.uid}}">
                    <button class="xq" id="{{index.pid}}">查看全文</button>
                    <span class="jb iconfont icon-jubao" id="{{index.pid}}"></span>
                    <div class="title" id="title" >
                        <div class="title-img" id="title-img" @mouseenter="showActions(index.pid)" @mouseleave="hideActions(index.pid)">
                            <img :src="index.tx" alt="">
                            <span class="iconfont icon-renzheng"></span>
                        </div>                               
                        <div class="title-name">
                            <div class="title-name-top">
                                <span>{{index.user}}</span>
                                <span class="iconfont icon-huangguan"></span>
                            </div>
                            <div class="title-name-hour">
                                {{index.time}}
                            </div>
                            <div class="title-name-show">
                                来自小米6
                            </div>
                        </div>
                     </div>                   
                    <!-- <div v-if="index.fv1"> -->
                        <div class="blog" v-if="index.f1===true">
                            <div class="">
                                {{index.content}}
                            </div>
                            <div>
                                <img :src="index.pic" alt="">
                                <!-- <img src="./Content/img/02.png" alt="">
                                <img src="./Content/img/03.png" alt="">
                                <img src="./Content/img/04.png" alt=""> -->
                            </div>   
                        </div>
                        <div class="blog" v-if="index.v1===true">
                            <div class="">
                                {{index.content}}
                            </div>
                            <video :src="index.vidio" class="sp" controls>11</video>
                        </div>
                    <!-- </div> -->
                    <div class="blog" v-else>
                        <div class="">
                            {{index.content}}
                        </div>                               
                    </div>
                    <div class="share">
                        <div class="iconfont icon-fenxiang">
                            {{index.zf}}
                        </div>
                        <div class="iconfont icon-pinglun" id="pl">
                            {{index.pl}}
                        </div>
                        <div class="iconfont icon-dianzan" v-if="!index.like" id="dz">
                            {{index.dz}}
                        </div>
                        <div class="iconfont icon-dianzan" style="color: orange;" v-else id="dz">
                            {{index.dz}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //进入页面初始化，非登录点击将会被退出
        window.onload = function () {
            var HisUserID = getCookie("HisUserID");
            if (HisUserID != "") {
                   
                } else {
                    location.href = "UserInfo.html";
                }
        };
        function retu(){
            clearCookie("HisUserID");
            location.href="UserInfo.html"
        }
         //读取cookie
         function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }
        //创建Cookie
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }
        //退出清除指定cookie
        function clearCookie(name) {
            setCookie(name, "", -1)
        }
    </script>
</body>
</html>