<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>阅博-随时随地发现新鲜事</title>
    <link rel="icon" href="">
    <script src="JS/jquery-3.4.1.js"></script>
    <script src="JS/vue.js"></script>
    <link rel="stylesheet" href="./CSS/base.css">
    <link rel="stylesheet" href="./CSS/index1.css">
    <link rel="stylesheet" href="./albb/font_a5jalowfoe/iconfont.css">
    <link rel="stylesheet" href="./albb/font_wtqi9yoho/iconfont.css">
    <link rel="stylesheet" href="/CSS/button.css">
    <script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- <script src="JS/base64.js"></script> -->
    <script src="JS/base641.js"></script>
</head>
<style>
    /* 遮罩层 */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);
    }
    
    /* 模态框内容 */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 40%;
      height: 100px;
    }
    
    /* 模态框关闭按钮 */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    </style>
<body>
    <div id="loading">
        <div id="loading_bg">
            <div class="loader">Loading...</div>
        </div>
    </div>
    <script>
        document.onreadystatechange=function () {
                        if (document.readyState=="complete"){
                            loadingFade();
                        }
                    }
                    document.getElementsByClassName("loader1").onreadystatechange=function () {
                            loadingFade1();
                    }
                    function loadingFade() {
                        var opacity=1;
                        //var loadingPage=document.getElementById('loading');
                        var loadingBackground=document.getElementById('loading_bg');
                        var time=setInterval(function () {
                            if (opacity<=0){
                                clearInterval(time);
                                //loadingPage.remove();
                                $('#loading').remove();
                            }

                            loadingBackground.style.opacity=opacity;
                            opacity-=0.4;
                        },100);
                    }
                    function loadingFade1() {
                        var opacity=1;
                        //var loadingPage=document.getElementById('loading');
                        var time=setInterval(function () {
                            if (opacity<=0){
                                clearInterval(time);
                                //loadingPage.remove();
                                $('.loader1').remove();
                            }

                            loadingBackground.style.opacity=opacity;
                            opacity-=0.4;
                        },100);
                    }
    </script>
    <!-- 顶部导航 -->
    <div id="header">
        <!-- <video loop="loop" autoplay="autoplay" preload="" muted="muted" 
        src="https://a.sinaimg.cn/mintra/pic/2112130543/weibo_login.mp4" 
        poster="https://a.sinaimg.cn/mintra/pic/2112130400/18weibo_login.png"> 
        抱歉，您的浏览器不支持内嵌视频 </video> -->
        <div class="header-center">
            <div class="header-center-logo">
                <!-- <img src="./Content/img/logo.png" alt=""> -->
            </div>
            <div class="header-center-input">
                <div class="header-center-input-icon">
                    <span class="iconfont icon-sousuo"></span>
                </div>
                <input type="text" placeholder="搜索阅博" class="header-center-input-form">
                <div class="header-center-input-search">
                    搜索
                </div>
            </div>
        </div>
    </div>
    <!-- 顶部导航条 -->
    <div id="nav">
        <div class="nav-center">
            <div class="nav-center-logo">
                <img src="./Content/img/logo.png" style="width: 10%;height: 10%;" alt="">
            </div>
            <div class="nav-center-search">
                <div class="iconfont icon-sousuo active"></div>
                <input type="text" placeholder="搜索阅博">
                <div class="radius"></div>
                <!-- <div class="content" >
                    <div class="content-tz" >
                      <div class="content-tz-1" >相关用户</div>
                      <div v-for="v in post"><span class="iconfont icon-sousuo" >{{v.content}}</span><span class="r">></span></div>
                    </div>
                    <hr>
                    <div class="content-user">
                    <div>相关用户</div>
                      <div  v-for="v in user">
                        <img src="Content/img/1.ad7400cd.jpg" alt="">
                        <div>
                            <p>{{v.name}}</p>
                            <p>{{v.sign}}</p>
                        </div>
                      </div>
                    </div>
                </div>
                <script>
                    let search=new Vue({
                        el:".content",
                        data:{
                            post:[
                                {content:"真的棒"},
                                {content:"不好1"},
                                {content:"6662"},
                                {content:"6665"},
                            ],
                            user:[
                                {pic:".png",name:"大气",sign:"你好"},
                                {pic:".png",name:"大气1",sign:"你好1"},
                                {pic:".png",name:"大气2",sign:"你好2"}
                            ]
                        },
                        methods: {
                            doSearch(){
                                
                            }
                        },
                    })
                </script> -->
            </div>
            <div class="nav-center-five">
                <div class="iconfont icon-shouye show1"></div>
                <div class="iconfont icon-shipin"></div>
                <div class="iconfont icon-huo"></div>
                <div class="iconfont icon-duanxin"></div>
                <div class="iconfont icon-geren"></div>
            </div>
            <div class="nav-center-four">
                <div class="nav-center-login" v-if="falg">
                    登录
                </div>
                <div class="nav-center-register" v-if="falg">
                    注册
                </div>
                <div class="nav-center-sun iconfont icon-sun" id="sun">
                    
                </div>
                <div class="nav-center-liuyan iconfont icon-liuyan">
                    
                </div>
            </div>
            <!-- <div class="nav-center-barrier">
                无障碍
            </div> -->
        </div>
    </div>
    <!-- 主体区域 -->
    <div id="main">
        <div class="main-center">
            <!-- 主体左侧 -->
            <div class="main-left">
                <div class="1">
                    <span class="iconfont icon-huo"></span>
                    热门微博
                </div>
                <div class="2">
                    <span class="iconfont icon-time"></span>
                    热门榜单
                </div>
                <div class="3">
                    <span class="iconfont icon-huatifuhao"></span>
                    话题榜
                </div>
                <div class="4">
                    <span class="iconfont icon-sousuo"></span>
                    热搜榜
                </div>
                <div></div>
            </div>
            <!-- 主体部分 -->
            <div class="main">
                 <div class="main-top">
                    <div class="show" id="shouyebtn">首页</div>
                    <div class="" id="hotbtn">热门</div>
                    <div class="" >同城</div>
                    <div class="" id="MyF">我的关注</div>
                    <div class="">明星</div>
                    <div class="">好物优选</div>
                    <div class="">搞笑</div>
                    <div class="iconfont icon-et-more1"></div>
                    
                 </div>  
                 <div class="put" style="display: none;">
                    
                        <div class="put-q1">
                            <div class="te">
                                <textarea name="" id="" class="puts"></textarea>
                            </div>
                            <div class="imgs">
                                <!-- <div class="imgs-img">
                                    <span class="imgs-x">X</span>
                                </div> -->
                            </div>
                            <form id="uploadForm">
                            <input type="file" name="image" id="submit2" style="visibility: hidden;">
                            <div class="img">
                                <span class="iconfont icon-tupian"></span>
                            </div>
                            <div class="select">
                                <select>
                                    <option value="1">所有人可见</option>
                                    <option value="2">仅自己可见</option>
                                    <option value="3">仅粉丝可见</option>
                                    <option value="5">仅三天内可见</option>
                                </select>
                            </div>
                            <!-- <div class="fs">发送</div> -->
                            <button class="fs" type="submit">发送</button>  
                        </form>                         
                        </div>                    
                    <div class="message"></div>
                 </div>
                 <div class="main-bottom-template" >
                    <div class="main-bottom" v-for="(t,index) in data2">
                        <div class="main-bottom-blog" id="{{index.uid}}">
                            <button class="xq" id="{{index.pid}}">查看全文</button>
                            <span class="jb iconfont icon-jubao" id="{{index.pid}}"></span>
                            <div class="title" id="title" >
                                <div class="title-img" id="title-img" @mouseenter="showActions(index.pid)" @mouseleave="hideActions(index.pid)">
                                    <img :src="index.tx" alt="">
                                    <span class="iconfont icon-renzheng"></span>
                                </div>                               
                                <div class="title-name">
                                    <div class="title-name-top">
                                        <span>{{index.user}}</span>
                                        <span class="iconfont icon-huangguan"></span>
                                    </div>
                                    <div class="title-name-hour">
                                        {{index.time}}
                                    </div>
                                    <div class="title-name-show">
                                        来自小米6
                                    </div>
                                </div>
                                <div v-if="index.uidf">
                                    <div class="title-name-focus" v-if="index.followd">
                                        关注
                                        <span class="iconfont icon-jiahao1"></span>
                                    </div>
                                    <div class="title-name-focus" v-else>
                                        已关注
                                    </div>
                                </div>
                                <div id="mos1" :class="['actions',{ 'visible': index.showActions }]"@mouseenter="show(index.pid)" @mouseleave="hide(index.pid)">
                                    <div>
                                        <img :src="index.tx" alt="">
                                    </div>
                                    <div class="mos-center">
                                        <p>关注<span class="fans">{{index.guanzhu1}}</span></p>
                                        <p>粉丝<span class="fans">{{index.fans1}}</span></p>
                                        <ul>
                                            <li v-if="index.followd">
                                                <button>关注</button>
                                            </li>
                                            <li v-else>
                                                <button>已关注</button>
                                            </li>
                                            <li>
                                                <button>私信</button>
                                            </li>
                                            <li>
                                                <button>拉黑</button>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div v-if="index.fv1">
                                <div class="blog" v-if="index.f1">
                                    <div class="">
                                        {{index.content}}
                                    </div>
                                    <div>
                                        <img v-for="item in images" v-if="item.pid===index.pid" :src="item.pic" alt="" style="margin-left: 2%;">
                                        <img v-if="index.pic!='无'" :src="index.pic" alt="">
                                    </div>   
                                </div>
                                <div class="blog" v-if="index.v1">
                                    <div class="">
                                        {{index.content}}
                                    </div>
                                    <video :src="index.video" class="sp" controls></video>
                                </div>
                            </div>
                            <div class="blog" v-else>
                                <div class="">
                                    {{index.content}}
                                </div>                               
                            </div>
                            <div class="share">
                                <div class="iconfont icon-fenxiang">
                                    {{index.zf}}
                                </div>
                                <div class="iconfont icon-pinglun" id="pl">
                                    {{index.pl}}
                                </div>
                                <div class="iconfont icon-dianzan" v-if="index.like" id="dz">
                                    {{index.dz}}
                                </div>
                                <div class="iconfont icon-dianzan" style="color: orange;" v-else id="dz">
                                    {{index.dz}}
                                </div>
                            </div>
                            <div class="fpd coment" id="t{{index.pid}}" > 
                                <div class="fpd-top">
                                    <div class="input">
                                        <div class="input-1">
                                            <textarea name="" id="text" placeholder="请写下你的评论"></textarea>
                                        </div>
                                        <div>

                                        </div>
                                    </div>
                                    <div class="fpd-top-four">
                                        <div class="img1" style="width: 50px;min-height: 50px;"></div>
                                        <input id="submit1" type="file" accept="image/x-png,image/gif,image/jpeg,image/bmp" style="visibility: hidden;">
                                        <div class="pic iconfont icon-tupian"></div>
                                        <div class="plbtn">
                                            评论
                                        </div>
                                    </div>
                                </div>
                                <div class="fpd1">
                                    <div class="fpd-pl">
                                        <div>按热度</div>
                                        <div>按时间</div>
                                    </div>
                                    <div class="templeta" v-for="(i,v) in data4" v-if="index.pid===v.pid">
                                        <div class="title">
                                            <div class="title-img">
                                                <img :src="v.upic" alt="">
                                            </div>
                                            <div class="title-name">
                                                <div class="title-name-top">
                                                    <span>{{v.name}}</span>
                                                    <span class="iconfont icon-huangguan"></span>: 
                                                </div>
                                                <div class="title-name-hour">
                                                    {{v.ctime}}
                                                </div>
                                                <div class="title-name-show">
                                                    来自小米6
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pl">
                                            <p>
                                                <span v-if="v.fname!=0">
                                                    回复
                                                    <a id="conment1" class="{{v.fid}}"  target="_blank">{{v.fname}}</a>
                                                </span>
                                                {{v.nr}}
                                            </p>
                                        </div>                                       
                                        <div class="share1">
                                            <div id="{{v.cid}}" class="iconfont icon-pinglun pldpl"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fpd forward" id="f{{index.pid}}" > 
                                <div class="fpd-top">
                                    <div class="input">
                                        <div class="input-1">
                                            <textarea name="" id="text" placeholder="转发内容"></textarea>
                                        </div>
                                        <div>

                                        </div>
                                    </div>
                                    <div class="fpd-top-four">
                                        <div class="img1" style="width: 50px;min-height: 50px;"></div>
                                        <input id="submit1" type="file" accept="image/x-png,image/gif,image/jpeg,image/bmp" style="visibility: hidden;">
                                        <div class="pic iconfont icon-tupian"></div>
                                        <div class="zfbtn">
                                            转发
                                        </div>
                                    </div>
                                </div>
                                <div class="fpd1">
                                    <div class="fpd-pl">
                                        <div>按热度</div>
                                        <div>按时间</div>
                                    </div>
                                    <div class="templeta" v-for="(i,v) in data7" v-if="index.pid===v.pid">
                                        <div class="title">
                                            <div class="title-img">
                                                <img :src="v.upic" alt="">
                                            </div>
                                            <div class="title-name">
                                                <div class="title-name-top">
                                                    <span>{{v.name}}</span>
                                                    <span class="iconfont icon-huangguan"></span>: 
                                                </div>
                                                <div class="title-name-hour">
                                                    {{v.ctime}}
                                                </div>
                                                <div class="title-name-show">
                                                    来自小米6
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pl">
                                            <p>{{v.nr}}</p>
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="myModal" class="modal">
                    <div class="modal-content">
                      <span class="close" onclick="closeModal()">&times;</span>
                      <h4 align="center">转发</h4>
                      <div class="input-form" style="margin-left: 20%;">
                        <input class="input1" name="text" type="textarea" required="">
                        <label class="textUser1">转发内容</label>
                      </div>
                      <button id="bu">
                        转发
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>
                    
                        </div>
                    </button>
                    </div>
                  </div>
                   
            </div>
            

            <!-- 主体右侧 -->
            <div class="main-right">
                <div class="main-right-top" v-if="falg">
                    <img src="./Content/img/text.png" alt="介绍">
                    <div class="login">
                        <a style="font-size: 19px;color: white;" href="Login.html">登录</a>
                    </div>
                    <div class="register">
                        还没有阅博?<a href="register.html">立即注册</a>
                    </div>
                </div>
                <div class="main-right-hotsearch" >
                    <div class="hotsearch">
                        <div class="yuebo">
                            阅博热搜
                        </div>
                        <div class="refresh">
                            <div class="iconfont icon-shuaxin">
                                点击刷新
                            </div>
                        </div>
                    </div>
                    <div class="hot" >
                        <div class="iconfont icon-changjiantou-shang"></div>
                        <div>政府工作报告dasdsadasdas</div>
                        <div>248.4万</div>
                        <div>热</div>
                    </div>
                    <div class="hot" v-for="(v,i) in Hots" id="{{i.pid}}">
                        <div class="iconfont icon-{{v+1}}" style="font-size:18px;"></div>
                        <div>{{i.PostContent}}</div>
                        <div>{{i.ClickSum}}</div>
                        <div>热</div>
                    </div>
                    <div class="template">
                        查看完整表单
                    </div>
                </div>
                <div class="main-right-footer">
                    <div class="help">
                        <div class="iconfont icon-jubao">举报中心</div>
                        <span>123</span>
                        <span>456</span>
                        <span>789</span>
                    </div>
                    <div class="help">
                        <div class="iconfont icon-jubao">举报中心</div>
                        <span>123</span>
                        <span>456</span>
                        <span>789</span>
                    </div>
                    <div class="help">
                        <div class="iconfont icon-jubao">举报中心</div>
                        <span>123</span>
                        <span>456</span>
                        <span>789</span>
                    </div>
                    <div class="help">
                        <div class="iconfont icon-jubao">举报中心</div>
                        <span>123</span>
                        <span>456</span>
                        <span>789</span>
                    </div>
                    <div class="help">
                        <div class="iconfont icon-jubao"></div>
                        <span>备案信息</span>
                        <span>Copyright &copy; 2009-2022 YUEBO</span>
                        <span>789</span>
                    </div>
                </div>
            </div>
            <script>
                // 打开模态框
                // function openModal(x) {
                //     console.log(x)
                //     $("#myModal").slideDown(300);
                    
                // }

                // 关闭模态框
                // function closeModal() {
                //     $("#myModal").slideUp(300);
                // }

                $(document).scroll(function() {
                    var scroH =parseInt($(document).scrollTop());   //滚动高度
                    var viewH = $(window).height();  //可见高度 
                    var contentH = $(document).height();  //内容高度
                    if(scroH <=200){  //距离顶部小于500px时
                        $(".main-right").removeClass("AllRight")
                        $(".main-left").removeClass("AllLeft")
                        $(".main").removeClass("AllCenter")
                    }
                    if(scroH >200){  //距离顶部大于500px时
                        $(".main-right").addClass("AllRight")
                        $(".main-left").addClass("AllLeft")
                        $(".main").addClass("AllCenter")
                    }                                  
                });
            </script>
        </div>
    </div>
    <script src="JS/index1.js"></script>
</body>
</html>